:root {
    --primary-color: #1E201E;
    --secundary-color: #3C3D37;
    --terciary-color: #697565;
    --neutral-color: #ECDFCC;
    --text-font: "Parkinsans", sans-serif;
}

html {
    background-color: var(--primary-color);
}

header {
    padding: 50px;
    text-align: center;
}

.teste {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
}

.new-page-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.new-page-form__input {
    padding: 5px;
    font-size: 14px;
    font-family: var(--text-font);
}

.new-page-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.new-page-form__button {
    padding: 5px;
    font-family: var(--text-font);
    font-size: 14px;
    width: 50%;
}

.button-primary {
    background-color: var(--terciary-color);
    color: var(--neutral-color);
}

.button-secundary {
    background-color: var(--neutral-color);
    color: var(--terciary-color);
}

.new-page-form__button__icon {
    width: 18px;
}

.pages-list {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.page {
    width: 150px;
}

.page__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: var(--neutral-color);
    border-radius: 8px;
    border-width: 1px;
    background-color: var(--secundary-color);
    text-decoration: none;
}

.page__card:hover {
    background-color: var(--terciary-color);
}

.page__card__description {
    color: var(--neutral-color);
    font-size: 20px;
    font-family: sans-serif;
}

.page__card__image {
    width: 75px;
}

