:root {
    --primary-color: #222831;
    --secundary-color: #393E46;
    --secundary-color-hover: #57585a;
    --terciary-color: #FFD369;
    --terciary-color-hover: #e9b12e;
    --quaternary-color: #EEEEEE;
    --quaternary-color-hover: #eeeeeec5;
    --neutral-color: #ffffff;
    --black-color: #000000;
    --text-font: "Parkinsans", sans-serif;
}

html {
    background-color: var(--primary-color);
}

header {
    padding: 50px;
    text-align: center;
}

.teste {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
}

.new-page-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.new-page-form__input {
    padding: 5px;
    font-size: 14px;
    font-family: var(--text-font);
    border-radius: 4px;
}

.new-page-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.new-page-form__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: var(--text-font);
    font-size: 14px;
    width: 50%;
    cursor: pointer;
    border-radius: 4px;
}

.button-primary {
    background-color: var(--terciary-color);
    color: var(--black-color);
}

.button-primary:hover {
    background-color: var(--terciary-color-hover);
}

.button-secundary {
    background-color: var(--quaternary-color);
    color: var(--black-color);
}

.button-secundary:hover {
    background-color: var(--quaternary-color-hover);
}

.new-page-form__button__icon {
    width: 18px;
}

.pages-list {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.page {
    width: 150px;
}

.page__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: var(--secundary-color);
    text-decoration: none;
    padding: 10px;
}

.page__card:hover {
    background-color: var(--secundary-color-hover);
}

.page__card__description {
    color: var(--neutral-color);
    font-size: 18px;
    font-family: sans-serif;
}

.page__card__image {
    width: 35px;
}

